body {
    background-color: #191d21;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    color: #39a5f1;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 45px;
}

a {
    color: #fff;
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.postcard {
    width: 460px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.postcard p {
    padding: 5px;
    margin-top: 10px;
}

#photo1, #photo2, #photo3, #photo4, #photo5, #photo6 {
    width: 450px;
    height: 278px;
    position: relative;
}

#photo1, #photo2, #photo3 {
    transition: transform 0.2s ease-in-out;
}

#photo5, #photo6 {
    overflow: hidden;
}

#photo1:hover {
    transform: scale(0.9);
}

#photo2:hover {
    transform: scale(0.95) rotate(5deg);
}

#photo5 img {
    transition: all 0.5s ease-in-out;
}

#photo5:hover img {
    transform: scale(1.2);
}

#photo6 img {
    transition: all 0.7s ease-in-out;
}

#photo6:hover img {
    transform: scale(1.2) rotate(-5deg);
}

#photo3_info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    margin: 0;
    padding: 20px 0 25px 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#photo3:hover #photo3_info {
    opacity: 0.8;
}

#galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #27a38d;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

#galeria_napis {
    padding-top: 65px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#galeria:hover, #galeria_napis:hover {
    opacity: 0.9;
}

.icon-search {
    font-size: 72px;
}
